.advantages
  &__section
    padding-top: 3.2rem
    background: url("../img/back/baker.png") left bottom no-repeat

  &__container
    //position: relative

  &__title
    margin-bottom: 1rem

  &__wrapper
    display: flex
    justify-content: flex-end

  &__video
    position: relative

    width: 42.067rem
    height: 27.067rem
    margin-bottom: 4.2rem

  &__play
    width: 3rem
    height: 5.87rem
    top: 33.5%
    left: 47.5%

    &--small
      width: 1.2rem
      height: 1.3rem
      bottom: 1.3rem
      left: 1.6rem

  &__thumb
    width: 1.2rem
    height: 1.2rem
    bottom: 1.3rem
    left: 4rem


