.photos
  &__section
    padding-top: 3rem
    padding-bottom: 3.87rem
    background-color: $background_bright

  &__title
    margin-bottom: 0.5rem

  &__wrapper
    display: flex
    justify-content: space-between

  &__text
    max-width: 25.8rem

    font: 300 1.067rem / 1.533rem "Roboto", sans-serif

    color: $primary

  &__paragraph
    margin-top: 2rem

  &__carousel
    position: relative
    perspective: 200px



