.container
  width: 65%
  margin: auto

@media (max-width: 1199px)
  .container
    width: 75%

@media (max-width: 991px)
  .container
    width: 85%

@media (max-width: 767px)
  .container
    width: 90%