.shadow
  position: absolute
  bottom: 0
  left: -14px
  width: calc(100% + 28px)
  height: 74px
  transform: rotateX(164deg)

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0.1) 100%)

  &::after
    content: ""
    position: absolute
    width: 100%
    z-index: -1
    box-shadow: 0px -9px 15px 1px  rgba(0,0,0,0.51)