.section
  text-align: center

  &__title
    font: 400 2.133rem / 2.267rem "Roboto Condensed", sans-serif
    text-transform: uppercase

@media (max-width: 575px)
  .section
    &__title
      font-size: 1.5rem